.btn-custom {
    background-color: #ffff00;
    border: 1pxsolid;
    border-radius: 50px;
}
.account{
  border: 1px solid #fff;
  padding: 10px 20px;
}
.title{
  color: #ffff00;
}
.full-height {
    height: 90vh;
    display: flex;
    align-content: center;
}